/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 sept. 2017, 18:22:47
    Author     : grand
*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

#menu > li > img {
    height: 12px;
    width: 12px; 
}
h1 {
    text-align: center;
}
h1 > a {
    font-size: 30px;
    text-decoration: none;
    color: gray;
}

#container h1 > img {
    height: 25px;
    width: 25px;
}

#menu > li > a {
    text-decoration: none;
    color: lightgray;
}

#content, #nav {
    width: 100%;
}

#menu {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

#menu > li {
    text-align: left;
    min-width: 175px;
    padding: 5px 10px;
    display: inline-block;
    color: white;
    background-color: #414141;
    list-style-type: none;
}

#container img {
    width:100%;
}

@media screen and (max-width: 700px) {
    
}
